<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				{% if restaurant %}
					{{ restaurant }}
					<h1> {{ restaurant.rating }}</h1>
					<a href="{{ url_for('index') }}">  Look up another restaurant </a>
				{% else %}
					<h1>What type of food are you in the mood for?</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="term" placeholder="Italian, Mexican, Chinese..." class="form-control">
						</div>

					<h1>Where do you want to eat?</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="location" placeholder="Type in a location" class="form-control">
						</div>
						<input type="submit" name="Submit" class="btn btn-primary">
					</form>
				{% endif %}


				{% for restaurant in restaurants %}
					{{ business.address }}
					{{ business.name }}
					{{ business.rating}}
				{% endfor %}
				<br>
				<a href="{{ url_for('about') }}">About this project </a>
			</div>
		</div>
	</body>
</html>
