<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				{% if forecast %}
					<h1> {{ forecast }}!</h1>
					<a href="{{ url_for('index') }}">  Look up another address </a>
				{% else %}
					<h1>Hello! Where do you live?</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="address" placeholder="Enter your city and state" class="form-control">
						</div>
						<input type="submit" name="Submit" class="btn btn-primary">
					</form>
				{% endif %}
				<br>
				<a href="{{ url_for('about') }}">About this project </a>
			</div>
		</div>
	</body>
</html>
